{% extends 'base.html.twig' %}

{% block title %}Faire un don{% endblock %}

{% block body %}

<div class="row mt-5 mb-5">
    <div class="col-6 mx-auto  bg-light pt-5 pe-5 pl-5 pb-2">
        {{ form_start(form)}}
            {{form_row(form.kindofdonation)}}
            {{form_row(form.description)}}
            {{form_row(form.recovery_date,{ 'label':'Définissez la date et l\'heure où le don pourra être récuperé'})}}
             {{form_row(form.availablity,{'label':'Disponible'})}}
        <button type="submit" class="btn btn-primary w-50 mx-auto"> Valider </button>
        {{form_end(form)}}
    <div>
<div>
{% endblock %}
